body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../img/imagenesRegistro/imagen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1000px;
  height: 1000px;
  margin: 200px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  flex: 1;
  padding-right: 40px;
  background-image: url('../img/imagenesRegistro/unl.png');
  background-size: 30% auto;
  background-repeat: no-repeat;
  background-position:600px 60px ;

}

p{

text-align: center;
color: #d2532c;
padding-top: 70px;

}
 
header {
  background-color: #0C2840;
  padding: 30px;
}

footer {
  background-color: #0C2840;
  padding: 30px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/*h1.headerTitulo {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
}*/

h1.tituloRegistro {
  padding-left: 50px;
  padding-top: 40px;
  font-size: 50px;
  text-align: left;
  margin-bottom: 100px;
  color: #0C2840;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.col {
  flex: 1;
  margin-right: 25px;
}

label {
  display: block;
  margin-bottom: 25px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
input[type="text"][placeholder] {
  width: 100%;
  padding: 20px;
  /*padding-right: 40px;*/ /*nuevo para imagenes en imput*/
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  /*background-image: url('usuario.png');*/ /*nuevo para imagenes en imput*/
  /*background-repeat: no-repeat;*/ /*nuevo para imagenes en imput*/
  /*background-position: right center;/* /*nuevo para imagenes en imput*/ 
}

input[type="text"][placeholder]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  outline: none;
  border-color: #4CAF50;
}

input.name{
  padding-right: 40px;
  background-image: url('../img/imagenesRegistro/usuario.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
}
input.lastname{
  padding-right: 40px;
  background-image: url('../img/imagenesRegistro/firma.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
}
input.correo{
  padding-right: 40px;
  background-image: url('../img/imagenesRegistro/correo.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
}
input.fechanac{
  padding-right: 40px;
  background-image: url('../img/imagenesRegistro/nacimiento.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
}
input.pass{
  padding-right: 40px;
  background-image: url('../img/imagenesRegistro/confirmacion.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
}
input.passcon{
  padding-right: 40px;
  background-image: url('../img/imagenesRegistro/contrasena.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-right: 30px;
}

button.botonDeRegistro{
  width: 25%;
  padding: 15px;
  font-size: 15px;
  background-color: #0C2840;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: static;
  transition: background-color 0.3s ease;
  transform: translatey(120%);
}

.botonDeRegistro:hover {
  background-color: #d2532c;
}


a {
  font-size: 15px;
  color: #ffffff;
  margin-right: 20px;
  padding-top: -100px;
  margin-top: -10px 
}


span {
  font-size: 13px;
  color: #ff5733;
  font-weight:bolder;
  border-radius: 4px;
}